In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/예제/University_text_after.csv", encoding="CP949")
df

       대학이름                      주소
0     서울대학교         서울특별시 관악구 관악로 1
1     KAIST       대전광역시 유성구 대학로 291
2    성균관대학교     서울특별시 종로구 성균관로 25-2
3     연세대학교       서울특별시 서대문구 연세로 50
4     UNIST  울산광역시 울주군 언양읍 유니스트길 50
5   포항공과대학교      경상북도 포항시 남구 청암로 77
6     고려대학교       서울특별시 성북구 안암로 145
7     경희대학교      서울특별시 동대문구 경희대로 26
8     세종대학교       서울특별시 광진구 능동로 209
9     한양대학교      서울특별시 성동구 왕십리로 222
10     GIST      광주광역시 북구 첨단과기로 123
11    아주대학교    경기도 수원시 영통구 월드컵로 206
12    중앙대학교        서울특별시 동작구 흑석로 84
13  이화여자대학교     서울특별시 서대문구 이화여대길 52
14    건국대학교       서울특별시 광진구 능동로 120
15    경북대학교         대구광역시 북구 대학로 80
16    울산대학교         울산광역시 남구 대학로 93
17    부산대학교   부산광역시 금정구 부산대학로63번길 2
18    영남대학교        경상북도 경산시 대학로 280
19   가톨릭대학교   서울특별시 종로구 창경궁로 296-12